<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Client provider -->
    <preference for="Algolia\Ingestion\Api\IngestionClientProviderInterface"
                type="Algolia\Ingestion\Service\IngestionClientProvider"/>

    <!-- Task service -->
    <preference for="Algolia\Ingestion\Api\IngestionTaskServiceInterface"
                type="Algolia\Ingestion\Service\IngestionTaskService"/>

    <!-- Register IngestionSendStrategy into core SendStrategyResolver -->
    <type name="Algolia\AlgoliaSearch\Service\SendStrategyResolver">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="ingestion" xsi:type="object">Algolia\Ingestion\Service\IngestionSendStrategy</item>
            </argument>
        </arguments>
    </type>

    <!-- Invalidates task cache when an index is deleted -->
    <type name="Algolia\AlgoliaSearch\Service\AlgoliaConnector">
        <plugin name="algolia_ingestion_index_deletion"
                type="Algolia\Ingestion\Plugin\IndexDeletionPlugin" />
    </type>

    <!-- CLI commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="algoliaIngestionStatus" xsi:type="object">Algolia\Ingestion\Console\Command\Ingestion\IngestionStatusCommand</item>
                <item name="algoliaIngestionInit" xsi:type="object">Algolia\Ingestion\Console\Command\Ingestion\IngestionInitCommand</item>
                <item name="algoliaIngestionReset" xsi:type="object">Algolia\Ingestion\Console\Command\Ingestion\IngestionResetCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- Proxy store-touching dependencies on Console commands to avoid premature
         store/website resolution during setup:install -->
    <type name="Algolia\Ingestion\Console\Command\Ingestion\IngestionStatusCommand">
        <arguments>
            <argument name="ingestionConfigHelper" xsi:type="object">Algolia\Ingestion\Helper\IngestionConfigHelper\Proxy</argument>
            <argument name="storeNameFetcher" xsi:type="object">Algolia\AlgoliaSearch\Service\StoreNameFetcher\Proxy</argument>
        </arguments>
    </type>
    <type name="Algolia\Ingestion\Console\Command\Ingestion\IngestionInitCommand">
        <arguments>
            <argument name="ingestionConfigHelper" xsi:type="object">Algolia\Ingestion\Helper\IngestionConfigHelper\Proxy</argument>
            <argument name="storeNameFetcher" xsi:type="object">Algolia\AlgoliaSearch\Service\StoreNameFetcher\Proxy</argument>
        </arguments>
    </type>
    <type name="Algolia\Ingestion\Console\Command\Ingestion\IngestionResetCommand">
        <arguments>
            <argument name="storeNameFetcher" xsi:type="object">Algolia\AlgoliaSearch\Service\StoreNameFetcher\Proxy</argument>
        </arguments>
    </type>
</config>
