<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Client provider -->
    <preference for="Algolia\Ingestion\Api\IngestionClientProviderInterface"
                type="Algolia\Ingestion\Service\IngestionClientProvider"/>

    <!-- Task service -->
    <preference for="Algolia\Ingestion\Api\IngestionTaskServiceInterface"
                type="Algolia\Ingestion\Service\IngestionTaskService"/>

    <!-- Register IngestionSendStrategy into core SendStrategyResolver -->
    <type name="Algolia\AlgoliaSearch\Service\SendStrategyResolver">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="ingestion" xsi:type="object">Algolia\Ingestion\Service\IngestionSendStrategy</item>
            </argument>
        </arguments>
    </type>
</config>
