<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_algoliasearch_credentials">
        <observer name="algolia_ingestion_credentials_changed"
                  instance="Algolia\Ingestion\Observer\CredentialSectionTaskInvalidator" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_indexing_manager">
        <observer name="algolia_ingestion_config_changed"
                  instance="Algolia\Ingestion\Observer\IngestionSectionTaskInvalidator" />
    </event>
</config>
